
/* Start default styles */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
    /* font-family: var(--primary-font); */
    /* direction: rtl; */
    background: #FAF7E8;
}

*,
*::after,
*::before {
    outline: none;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: var(--dark-color);
    transition: all 0.6s ease;
}

a:hover {
    color: var(--color-hove);
}

i {
    user-select: none;
}

/* .container-fluid {
    max-width: 1200px; 
    margin: 0 auto; 
    padding-left: 15px;
    padding-right: 15px;
  } */

/* Finish default styles */

/* ==== Pagination for special-offers ==== */


/* شکل کلی دکمه‌ها */
#special-offers .swiper-pagination-bullet {
    background-color: var(--meat-cream-200);
}

/* وقتی فعال میشه */
#special-offers .swiper-pagination-bullet-active {
    background-color: var(--brand-900);
    transform: scale(1.2);
    border: 1px solid var(--meat-cream-200);
  /* box-shadow: 0 0 6px rgba(255, 255, 255, 0.8); */
}


#special-offers .swiper-pagination,
#best-sellers .swiper-pagination {
  position: absolute;
  bottom: -5px !important;
  text-align: center;
  width: 100%;
  z-index: 10;
}
/* شکل کلی دکمه‌ها */
#special-offers .swiper-pagination-bullet,
#best-sellers .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  margin: 0 6px !important;
  transition: all 0.3s ease;
}
/* ==== Pagination for Best Sellers ==== */



/* دکمه‌های نقطه‌ای عادی */
#best-sellers .swiper-pagination-bullet {
  border: 1px solid var(--warning); /* رنگ بوردر: نارنجی برند */
}

/* وقتی فعال میشه */
#best-sellers .swiper-pagination-bullet-active {
  background-color: var(--accent-red-500) ;/* نارنجی اصلی */
  border-color: var(--meat-cream-50) ;
  transform: scale(1.1);
  /* box-shadow: 0 0 8px rgba(255, 152, 0, 0.5); */
}