

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Luckiest+Guy&display=swap');

* {
  font-family: sans-serif !important;
}






@font-face {
    font-family: 'IRANSans';
    src: url(../fonts/IRANSans/IRANSans.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


/* ==== SWEET CREAMY FONT FAMILY ==== */

/* Regular */
@font-face {
  font-family: "Sweet Creamy";
  src: url("../fonts/IRANSans/Sweet\Creamy.woff2 ") format("woff2"),
       url("../fonts/IRANSans/Sweet\ Creamy.ttf") format("truetype"),
       url("../fonts/IRANSans/Sweet\ Creamy.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "Sweet Creamy";
  src: url("../fonts/IRANSans/Creamy Italic.woff2") format("woff2"),
       url("../fonts/IRANSans/Sweet\ Creamy\ Italic.ttf") format("truetype"),
       url("../fonts/IRANSans/Sweet\ Creamy\ Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'SweetCreamy-Regular';
  src: url('../fonts/IRANSans/Sweet\ Creamy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SweetCreamy-Regular-OTF';
  src: url('../fonts/IRANSans/Sweet\ Creamy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SweetCreamy-Italic';
  src: url('../fonts/IRANSans/Sweet\ Creamy\ Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SweetCreamy-Italic-OTF';
  src: url('../fonts/IRANSans/Sweet\ Creamy\ Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

/* //////////////////// */



