

/* Start Products Style */

/* .row{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.products-content {
  display: flex;
  align-items: center;
  justify-content: center;

}
.product-box {
    background-color: var(--white-color);
    box-shadow: 0 0 19px rgba(168, 172, 185, 0.3);
    border: 1px solid;
    border-radius: 0.5rem;
    margin: 2rem 0;
    padding: 2rem 3rem !important;
    display: flex;
    transition: all 400ms ease;
    overflow: hidden;
    background: red !important;
  }

  .product-box__detiles-header {
      text-transform: uppercase;
      font-size: 1.5rem !important;
      font-weight: 700;
      margin-bottom: 0.7rem !important;
      color: var(--color_red);
      background: red !important;
  }

  .product-box__detiles-price {
    font-size: 2rem;
    font-weight: 900;
    color: var(--color_red);
  }
  .product-box__detiles {
    display: flex;
    flex-direction: column;

  }

  .product-box__detiles-title {
    font-size: 2rem !important;
    font-weight: 900;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  
  .product-box__img {
    max-width: 200px;
    width: 100%;
    height: 200px;
    margin-left: 3rem;
    border-radius: 50%;
  }

  .product-box__img img {
    width: auto;
    height: auto;
    border-radius: 50%;
  }
   */



  
/* Finish Products Style */
