
@import "variables.css";        /* پالت و توکن‌ها */
@import "fonts.css";            

@import "defaults.css";          /* استایل‌های پایه و Reset */
@import "helper.css";            /* کلاس‌ها و افکت‌های کمکی */

@import "carousel-home.css";          
@import "landing-baners.css";            
@import "top-bar.css";           
@import "navbar.css";            
@import "breadcrumb.css";        
@import "sidebar-productBox.css"; 
@import "bascet.css";            
@import "search.css";            
@import "footer.css";            

@import "product-box.css";       
@import "product.css";           
@import "checkout.css";          
@import "cart.css";              
@import "featured-products.css"; 
@import "ourMenu.css";           
@import "blog.css";              
@import "categori.css";          
@import "index.css";          

